<div class={{bem this.block
  modifiers=(hash
    debug=this.debug.videoEnabled
  )}}
  ...attributes
>
  <video
    width="720"
    height="480"
    autoplay
    {{did-insert (action this.renderCameraImage)}}
  ></video>
  <canvas {{did-insert (action this.renderCanvas)}}></canvas>
  <div class={{bem this.block "settings"}}>
    <Input type="number" @value={{this.contrast}} />
    <Input type="number" @value={{this.grayscale}} />
    <Input type="number" @value={{this.brightness}} />
  </div>
</div>
