<video
  poster={{@poster}}
  class={{bem this.block
    modifiers=(hash
      is-playing=this.isPlaying
      has-effect=this.debug.effectEnabled
    )
  }}
  ...attributes
  {{did-insert this.setVideoElement}}
  {{on "playing" (fn (mut this.isPlaying) true)}}
  {{on "pause" (fn (mut this.isPlaying) false)}}
  {{on "ended" this.ended}}
>
  Your browser does not support HTML5 video.
</video>

{{#if this.debug.effectEnabled}}
  <div class="c-video-effect"></div>
{{/if}}
