{{#let "c-application" as |block|}}
  <div class={{bem block}}>
    <div class={{bem block "tracker"}}>
      <Tracker @updateMarkers={{route-action "updateMarkers"}}/>
    </div>

    {{outlet}}

    {{#if this.debug.countEnabled}}
      <div class={{bem block "drink-count"}}>
        {{this.debug.drinkCount}}
      </div>
    {{/if}}

    <div class={{bem block "notifications"}}>
      {{#each this.flashMessages.queue as |flash|}}
        <Notification @flash={{flash}} />
      {{/each}}
    </div>
  </div>
{{/let}}

